@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Poppins&display=swap');
html,
body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin: 0;

}
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
